{% extends 'base.html' %}
{% block container %}
{% load crispy_forms_tags %}


  <main class="container">
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <form method="post" action="{% url 'login' %}">{% csrf_token %}
            <table>{{ form|crispy }}</table>
            <button type="submit">Login</button>
        </form>

        <div class="mt-4 text-center"><p>Нет аккаунта? <a href="/register">Зарегистрируйтесь!</a></p></div>

      </div>
    </div>
  </main>

{% endblock %}