<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Вакансии компании | Джуманджи</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      background-color: #F6F2E6;
    }
  </style>
</head>

<body>
  {% include 'menu.html' %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" href="/mycompany/">1. Информация о&nbsp;компании</a>
            <a class="nav-link active" href="/mycompany/vacancies/">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Вакансии</h2>
              <!-- vacancy state 1 -->
                {% if vacancies %}
                        {% for vacancy in vacancies %}
                        <div class="card mt-3">
                            <div class="card-body px-4">
                                <div class="row align-items-center">
                                    <div class="col-6 col-lg-8">
                                        <a href="/vacancies/{{vacancy.id}}" class="mb-1">{{ vacancy.title }}</a>
                                        <p class="mb-1">
                                            <span class="mr-4">От {{ vacancy.salary_min }} до {{ vacancy.salary_max }}</span>
                                            {% if vacancy.applications.count > 0 %}
                                            <a href="#" class="text-info"> Количество откликов:
                                                {{ vacancy.applications.count }}</a>
                                            {% else %}
                                            <span class="text-muted">Нет откликов</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-6 col-lg-4 text-right">
                                        <a href="/mycompany/vacancies/{{vacancy.id}}" class="btn btn-outline-info">
                                            Изменить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="alert alert-info" role="alert"> У Вас пока нет вакансий, но вы можете создать
                            первую!</p>
                        {% endif %}
                        <form action="/mycompany/vacancies/0" method="get">{% csrf_token %}
                            <div class="form-group mt-3">
                                <input type="submit" class="btn btn-info" name="Vacancy_create"
                                       value="Добавить вакансию"/>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>